# Dhan API Configuration
DHAN_CLIENT_ID=1107702034
DHAN_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJpc3MiOiJkaGFuIiwicGFydG5lcklkIjoiIiwiZXhwIjoxNzcyMDQwMDk4LCJpYXQiOjE3NzE5NTM2OTgsInRva2VuQ29uc3VtZXJUeXBlIjoiU0VMRiIsIndlYmhvb2tVcmwiOiIiLCJkaGFuQ2xpZW50SWQiOiIxMTA3NzAyMDM0In0.d-HxmyssuyggwFWrmDGPMY9TEoVrhS9yjURmuqwHCfyaekOawhptTaDrz86j3vyyWXTaUyTXInntWrfweyvwbg

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=qwerty123456
DB_NAME=analyzer_db
DB_PORT=3306

# Application Settings
TRADE_SYNC_INTERVAL=60
DATA_FETCH_INTERVAL=4
STRIKE_RANGE=750
LOG_LEVEL=INFO
